<div id="header" class="board-color-pomegranate">
    <div id="header-main-bar">
        <h1 class="header-board-menu">Roadmap</h1>
        <div class="board-header-btns left">
            <a class="board-header-btn is-disabled" href="#"><i class="fa fa-globe"></i>
            <span>Public</span></a>
        </div>
        <a class="wekan-logo" href="http://nodekit.io" title="Go back to nodekit.io" aria-label="Go back to nodekit.io"><img src="public/logo-header.png" alt="Roadmap"></a>
    </div>
</div>